@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    padding: 0px;
    margin: 0px; 
    background: rgb(245, 250, 255);
}

.container {
    padding: 40px;
    margin: 40px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.nav-bar img {
    width: 200px;
}

.button-nav-bar {
    height: 40px;
    border-radius: 20px;
    padding: 4px 50px;
    border: none;
    background: #FFF;
    box-shadow: 3px 4px rgba(15, 15, 15, 0.034);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.community-love {
    display: flex;
}

.imagen {
    width: 100%;
}

.button-start {
    background: rgb(255, 82, 191);
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding: 12px 40px;
    margin-top: 20px;
}

.text h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    max-width: 400px;
}

.text p {
    font-family: 'Poppins', sans-serif;
    max-width: 780px;
    margin-right: 40px;
    font-size: 15px;
}

.grow-together{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 14px 14px  rgba(15, 15, 15, 0.034);
    border-radius: 10px;
    padding: 50px 30px 50px 100px;
    margin-top: 10%;
}

.content {
    max-width: 500px;
}

.content h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
}

.content p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(104, 103, 103);
}
.imagen-grow img {
    width: 400px
}

.flowing-conversations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 14px 14px  rgba(15, 15, 15, 0.034);
    border-radius: 10px;
    padding: 50px 30px 50px 100px;
    margin-top: 20px;
}

.contact {
    width: 500px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 40px 80px 30px 80px;
    border-radius: 10px;
    margin-top: -50px;
    text-align: center;
    z-index: 1;
    position: absolute;
}

.contact .title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.contact button {
    background: rgb(255, 82, 191);
    color: white;
    border: none;
    border-radius: 30px;
    height: 50px;
    padding: 12px 60px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

footer{
    background: rgb(0, 37, 46);
    padding-top: 150px;
}

.footer {
    display: flex;
    padding: 40px;
    margin: 20px 40px 0px 40px; 
    justify-content: space-between;
}

.components {
    display: flex;
    align-items: center;
}

span {
    color: #FFF;
    margin-right: 15px;
}

.components p {
    color: rgba(199, 194, 194, 0.932);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    max-width: 400px;
}

li {
    color: rgba(199, 194, 194, 0.932);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    list-style-type: none;
}

